<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <script
      type="module"
      src="{{ url_for('static', filename='script.js') }}"
    ></script>
  </head>
  <body>
    <nav>
      <ul class="nav-list">
        <li>
          <a class="navtitle">
            The Pawfect Match
            <img
              class="paw"
              src="{{ url_for('static', filename='images/paw.png') }}"
            />
          </a>
        </li>
        <li><a class="navtext" href="{{ url_for('home') }}">Home</a></li>
        <li>
          <a
            class="navtext"
            href="https://console.firebase.google.com/u/2/project/padawans-9bae0/overview"
            >Firestore Database</a
          >
        </li>
      </ul>
    </nav>
    <div class="form-container">
      <div class="image-container">
        <img
          src="{{ url_for('static', filename='images/cat.png') }}"
          class="cat"
          alt="Cat Image"
        />
        <img
          src="{{ url_for('static', filename='images/dog.png') }}"
          class="dog"
          alt="Dog Image"
        />
      </div>
      <form id="descriptionForm">
        <label class="inputtitle" for="imageUpload">Upload an image:</label>
        <input
          type="file"
          id="imageUpload"
          name="imageUpload"
          accept="image/*"
        />
        <label class="inputtitle" for="descriptionInput"
          >Add keywords or description:</label
        >
        <input
          type="text"
          id="descriptionInput"
          name="descriptionInput"
          placeholder="Add an initial description or keywords"
        />
        <label class="inputtitle" for="nameInput">Name (optional):</label>
        <input
          type="text"
          id="nameInput"
          name="nameInput"
          placeholder="Name (optional)"
        />
        <input type="hidden" id="predictedKeywords" name="predictedKeywords" />
        <div class="form-row">
          <label class="selecttext" for="gender">Gender:</label>
          <select id="gender" name="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
          <label class="selecttext" for="age">Age:</label>
          <select id="age" name="age">
            <option value="baby">Baby</option>
            <option value="young">Young</option>
            <option value="teen">Teen</option>
            <option value="adult">Adult</option>
            <option value="elder">Elder</option>
          </select>

          <label class="selecttext" for="size">Size:</label>
          <select id="size" name="size">
            <option value="Small">Small</option>
            <option value="Medium">Medium</option>
            <option value="Large">Large</option>
            <option value="Extra Large">Extra Large</option>
          </select>
        </div>
        <fieldset>
          <legend>Characteristics:</legend>
          <div class="grid-container">
            <label
              ><input type="checkbox" name="characteristics" value="sweet" />
              Sweet</label
            >
            <label
              ><input type="checkbox" name="characteristics" value="curious" />
              Curious</label
            >
            <label
              ><input type="checkbox" name="characteristics" value="brave" />
              Brave</label
            >
            <label
              ><input type="checkbox" name="characteristics" value="smart" />
              Smart</label
            >
            <label
              ><input type="checkbox" name="characteristics" value="cuddly" />
              Cuddly</label
            >
            <label
              ><input type="checkbox" name="characteristics" value="friendly" />
              Friendly</label
            >
            <label
              ><input type="checkbox" name="characteristics" value="goofy" />
              Goofy</label
            >
            <label
              ><input type="checkbox" name="characteristics" value="mellow" />
              Mellow</label
            >
            <label
              ><input type="checkbox" name="characteristics" value="playful" />
              Playful</label
            >
            <label
              ><input type="checkbox" name="characteristics" value="loyal" />
              Loyal</label
            >
            <label
              ><input
                type="checkbox"
                name="characteristics"
                value="independent"
              />
              Independent</label
            >
            <label
              ><input type="checkbox" name="characteristics" value="gentle" />
              Gentle</label
            >
            <label
              ><input type="checkbox" name="characteristics" value="funny" />
              Funny</label
            >
            <label
              ><input
                type="checkbox"
                name="characteristics"
                value="energetic"
              />
              Energetic</label
            >
            <label
              ><input type="checkbox" name="characteristics" value="shy" />
              Shy</label
            >
          </div>
        </fieldset>

        <div class="button-container">
          <button type="button" id="generateButton">
            <a class="btntext">Generate Description</a>
          </button>
          <button type="button" id="viewSavedButton">
            <a class="viewbtntext">View Saved Descriptions</a>
          </button>
        </div>
      </form>
      <div id="formLoading" class="loading" style="display: none"></div>
      <div id="notification" style="display: none">Description generated!</div>
    </div>
    <div class="saved-form-container">
      <h2 id="savedDescriptions">Saved Descriptions</h2>
      <div class="filter-container">
        <label for="filterSelect">Filter by:</label>
        <select id="filterSelect">
          <option value="latest">Latest to Oldest</option>
          <option value="oldest">Oldest to Latest</option>
          <option value="alphabetical">Alphabetical Order</option>
        </select>
      </div>
      <button id="translateButton" class="translate-button">Translate</button>
      <div id="loading" class="loading" style="display: none"></div>
      <div id="customerData"></div>
    </div>
  </body>
</html>
