<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customer View</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <script
      type="module"
      src="{{ url_for('static', filename='script.js') }}"
    ></script>
  </head>
  <body>
    <nav>
      <ul class="nav-list">
        <li>
          <a class="navtitle">
            The Pawfect Match
            <img
              class="paw"
              src="{{ url_for('static', filename='images/paw.png') }}"
            />
          </a>
        </li>
        <li><a class="navtext" href="{{ url_for('home') }}">Home</a></li>
        <li>
          <a class="navtext" href="{{ url_for('view') }}">Saved Descriptions</a>
        </li>
      </ul>
    </nav>
    <div class="form-container">
      <h2>Customer Data</h2>
      <div id="customerData"></div>
    </div>
  </body>
</html>
